:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #dcdcdc;
    --text-secondary: #a7afb8;
    --bg-primary: #2d2d2d;
    --bg-secondary: #858a90;
    --highlight: #9cb7ba;
    --slow-speed: 500ms;
    --fast-speed: 200ms;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

nav {  
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 6rem;
    background: var(--bg-secondary);
    transition: var(--fast-speed) ease-in-out;
    margin: 0;
    position: fixed;
   
}

nav:hover {
    width: 16rem;
    opacity: 1;
}


nav:hover .nav-text {
    display: block;
}

nav:hover .logo-text {
    display: block;
}

nav:hover .logo-img {
    rotate: 180deg;
}


main {
    margin-left: 6rem;
}

.logo {
    text-align: center;
    letter-spacing: 0.3ch;
    line-height: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1vh;
}

.logo-text {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.3ch;
}

.logo-img {
    width: 3rem;
    filter: invert(98%) sepia(0%) saturate(3813%) hue-rotate(179deg) brightness(113%) contrast(73%);
    rotate: 90deg;
    transition: var(--fast-speed) ease-in;
    
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2.5 1 0;
    padding-top: 15vh;
    
}


.nav-item:last-child {
    margin-top: auto;
    
}

.nav-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    filter: invert(78%) sepia(14%) saturate(337%) hue-rotate(138deg) brightness(90%) contrast(88%);
    background: var(--bg-primary);
}



.nav-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-img {
    width: 3rem;
    filter: invert(98%) sepia(0%) saturate(3813%) hue-rotate(179deg) brightness(113%) contrast(73%);
    
}
.nav-text {
    display: none;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3ch;
}

.nav-item:last-child:hover .nav-social {
    display: flex;
    justify-content: space-around;
}
.nav-social {
    padding-bottom: 2.5vh;
    width: 80%;
    display: none;
    transition: var(--fast-speed) ease-in-out;
}

.nav-social-img {
    width: 24px;
    height: 24px;
}


.social-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    gap: 10px;
    
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(img/BG-PARK-1.png);
    background-size: cover;
    display: flex;
    padding: 200px 0 200px 0;
}

.no-header-item {
    flex: 1 1 0;
}

.header-item {
    flex: 1 1 0;
    padding: 24px;
    margin: 24px;
    border-radius: 25px;
    background-color: rgba(165, 168, 165, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-logo {
    font-size: 36px;
    text-align: left;
    padding-bottom: 1rem;
}

.roadmap {
    padding-left: 10rem;
}
.roadmap-main {
    position: relative;
    padding-right: 15vw;
}

.roadmap-line {
    height: 100%;
    border-right: 2px solid var(--text-primary);
    position: absolute;
    top: 0;
    left: 1rem;
}
.roadmap-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.roadmap-item {
    margin-bottom: .5rem;
}

.roadmap-header {
    display: flex;
    align-items: center;
    
}

.roadmap-img {
    width: 2rem;
    filter: invert(98%) sepia(0%) saturate(3813%) hue-rotate(179deg) brightness(113%) contrast(73%);
    background-color: #fff;
    
}

.roadmap-title {
    flex: 1;
    padding-left: 3rem;
}

.roadmap-text {
    padding: 0 10rem 1.5rem 5rem;
}
